<div class='user-feeds'>
  <ul class='mdl-list'>
    <%if @entries.length < 1%>
        <li class='mdl-list__item  mdl-list__item--two-line to-do-list-item'>
          <div class='entry-unhider'>
            <span class='mdl-list__item-primary-content article-title'>
              <% if @title != 'Stars'%>
                Add Some RSS Feeds, Already
              <%else%>
                You Haven't Starred Any Articles Yet
              <%end%>
            </span>
            <span class='blog-entry-content' style="display:none;">
              If you don't add feeds, you won't have anything to read, and I won't have data to sell so get on it already
            </span>
          </div>
        </li>
      <%else%>
        <%@entries.each do |entry|%>
          <%=render partial: 'entries/entry_enumerator', locals: {entry: entry}%>
        <%end%>
      <%end%>
    </ul>
</div>

