<ul>
  <h5>Feeds </h5><%=collection_select(:category_selector, :category_id, Category.order(:title), :id, :title, {prompt: "Filter By Category", selected: (@category ? @category.id : nil)})%>
    <%current_user.blogs.each do |blog|%>
    <li>
      <%=link_to("#{truncate(blog.url, length:35, omission:'...')}", blog_path(blog))%>
      <%=link_to remove_feed_path(blog), method: :delete, data: {confirm: "Really, really?"} do %>
        <i class="material-icons feed-delete">delete_forever</i>
      <%end%>
    </li>
    <%end%> 
</ul>


