<%if @user.coordinates[0] != nil && @user.coordinates[1] != nil %>
  <%if @tStatus%>
    <div>
      <ul>
        <% @tStatus.each do |x|%>
          <li>
            <%=image_tag x[0] %>- 
            <span>
              <%= x[1] == "GOOD SERVICE" ? x[1] : link_to("#{x[1]}", "#", class: 'service-status')%>
            </span>
            <span class='train-delay-status'  style="display:none;">
               <%=x[2].html_safe%>
            </span>
          </li>
        <%end%>
      </ul>
    </div>
  <%else%>
    Shucks, we're not in your area yet, but we're working on it.
  <%end%>
<%else%>
  Location Could Not Be Determined.
<%end%>