<%if @user.coordinates[0] != nil && @user.coordinates[1] != nil %>
  <%if @user.distance_from("New York City") <= 50 %>
    <div>
      <ul>
        <% @tStatus.each do |x|%>
          <li>
            <%=image_tag "#{x[0]}.gif" %>- 
            <span>
              <%= x[1] == "GOOD SERVICE" ? x[1] : link_to("#{x[1]}", "#")%>
            </span>
            <span class='train-delay-status'>
               <%=x[2].text.html_safe%>
            </span>
          </li>
        <%end%>
      </ul>
    </div>
  <%else%>
    Shucks, we're not in your area yet, but we're working on it.
  <%end%>
<%else%>
  Location Could Not Be Determined.
<%end%>