<h6 class='category-title'>
  <%=link_to "To Do", todos_path, id: 'to-do-link'%>
</h6>
<ul>
<%current_user.todos.each do |todo| %>
  <%if (todo.duedate + 5.hours).today? %>
    <% if !todo.is_completed %> 
      <li>
      <%=render partial: 'todos/incomplete', locals: {todo: todo}%>
      </li>
    <%else%>
      <li class='cross-out'>
      <%=render partial: 'todos/completed', locals: {todo: todo}%>
      </li>
    <%end%>
  <%end%>
<%end%>
</ul>
<%= render 'todos/form'%>
