<div class='user-show'>
  <span>
    Signed in as: <%=@user.email%>
  </span><br>
  <span>
    Located:<%=@geo ? "#{@geo.city}, #{@geo.state}" : "Couldn't Locate" %>
  </span><br>
  <%=link_to "Edit", edit_user_path(current_user) if current_user && @user == current_user%>
</div>