<div class='mdl-grid'>
  <div class='welcome-message'>
    <h4>Edit User</h4>
    <%=render 'users/form'%>
    <%=link_to 'Delete User', '#', class: "mdl-button mdl-js-button mdl-button--flat mdl-button--primary", id: 'delete-button'%>
  </div>
</div>