<div class='user-feeds'>
  <ul>
    <%@entries.first(50).each do |entry|%>
      <li><span class='entry-unhider'><%= entry.published.strftime('%D') %> <%= entry.title %> <%= entry.blog.url %></span><span>Star</span>
        <ul>
          <li class='blog-entry-content'>
            <%=entry.content.html_safe%>
          </li>
        </ul>
      </li>
    <%end%>
  </ul>
</div>