<div id='signin-swap-1', class='home-form'>
  <%=render 'sessions/new'%><br>
  <button class='mdl-button mdl-js-button mdl-button--flat mdl-button--colored swap-signin'>
    Not yet a user? Sign Up!
  </button>
</div>