<div id='signin-swap-1'>
  <%=render 'sessions/new'%>
  <button class='swap-signin'>Swap</button>
</div>
<div id='signin-swap-2'>
  <%=render 'users/new'%>
  <button class='swap-signin'>Swap</button>
</div>