<%if !current_user%>
  <div class='mdl-grid'>
    <div class='welcome-message'>
      <h1>Daily Constitutional</h1>
      <p id='intro-text'>
        Welcome to the best source for today's news, in a no-nonsense, simple fashion. With up to date details on weather and transportation integrated, you'll have all of the personalized items necessary to start your day
      </p>
      <%=render 'home/sign_in_form'%>
      <%=render 'home/sign_up_form'%>
    </div>
  </div>
<%else%>
  <%= render 'users/show'%>
<%end%>