<%= link_to complete_path(todo), method: :post, remote: true, data:{idNum: todo.id}, class: 'complete-button'   do %>
  <i class="material-icons circle">
    radio_button_unchecked
  </i>
<%end%>
<span>
  <%=todo.description%>
</span>
<%=link_to todo_path(todo), method: :delete, class: 'delete-todo' do %>
  <i class="material-icons feed-delete">delete_forever</i>
<%end%>
