<div class='user-feeds'>
  <ul class='mdl-list'>
    <%@todos.each do |todo|%>
      <li class='mdl-list__item mdl-list__item--two-line to-do-list-item'> 
        <span class='mdl-list__item-primary-content article-title'>
          <span>
            <%=todo.duedate.strftime('%A, %D')%>
          </span>
          <% if !todo.is_completed %> 
            <span class='mdl-list__item-sub-title '>
              <%=render partial: 'todos/incomplete', locals: {todo: todo}%>
          <%else%>
            <span class='mdl-list__item-sub-title cross-out'>
              <%=render partial: 'todos/completed', locals: {todo: todo}%>
          <%end%>
            </span>
          </span>
        </span>
      </li>
    <%end%>
  </ul>
</div>

