<h1>Todos#index</h1>
<p>Find me in app/views/todos/index.html.erb</p>
<% @user.todos.each do |todo| %>
  <%="#{todo.user.email}, #{todo.duedate}, #{todo.description}, #{todo.is_completed}"%> <br>
<%end%>