.left-side{
  width:250px;
  float:left;
  height: 100vh
}

nav{
  ul{
    list-style-type: none;
    li{
      display: inline;
      form{
        display: inline;
      }
    }
  }
}

.bold{
  font-weight: bolder;
}


