<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
    <nav>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--align-left">
        <%=link_to 'Feed', root_path, class: 'nav-link' if current_user%>
        <%=link_to 'Starred', favorites_path, class: 'nav-link' if current_user%>
      </div>
    </nav>
  </div>
</header>
