<div id='modal'>
  <div class='closer-icon-holder'>
    <i id='close-icon' class="material-icons">  
      close
    </i>
    <i id='close-icon-left' class="material-icons">  
      close
    </i>
  </div>
  <div id='modal-content'>
    </div>
  </div>
</div>